.search-container {
  border: 1px solid #ced4da;
  background-color: white;
  padding: 10px;
  margin: auto;
  border-radius: 6px;
  border-radius: 60px;
  width: max-content;
  > input:not(:nth-last-child(-n + 2)) {
    border-right: 1px solid #ced4da;
  }
}

:host ::ng-deep {
  .search-dropdown.p-dropdown {
    width: 200px;
    border: none;
    box-shadow: none;
    border-right: 1px solid#ced4da;
    border-radius: 0px !important;
    background-color: transparent;
  }
  .search-input.p-inputtext {
    width: 200px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    &:focus {
      border: none;
      box-shadow: unset;
    }
  }

  .agency-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    padding: 20px;
    justify-items: center !important;
    grid-auto-rows: 1fr;
  }

  .p-card {
    height: 100%;
    .p-card-title {
      font-size: 1rem;
    }
  }
}
