<ng-container *ngIf="annonce">
  <div
    class="flex flex-col gap-1 px-16 py-4 w-full sticky shadow-md bg-secondary z-50"
    style="top: 68px"
  >
    <div class="flex gap-3 font-semibold text-lg items-center">
      <span>
        {{ annonce.typeBien }} à
        {{ annonce.typeOffre === 'Location' ? 'louer' : 'vendre' }}
      </span>

      <span class="font-semibold">
        &#8226; {{ annonce.adresseBien.ville | titlecase }} ({{
          annonce.adresseBien.codePostal
        }})
      </span>

      <span class="flex gap-2 items-center">
        &#8226; {{ annonce.prix.montant }}
        <icon [name]="GIcon.euro" />
      </span>
    </div>

    <div class="flex gap-3 font-normal text-sm primary">
      <span> {{ annonce.superficiePieces.pieces }} pièces </span>
      <span> &#8226; {{ annonce.superficiePieces.chambres }} chambres </span>
      <span>
        &#8226; Surface de {{ annonce.superficieTotale }} m<sup>2</sup>
      </span>
    </div>
  </div>

  <div class="flex gap-2 mx-16 relative" style="height: 600px">
    <div class="basis-2/3" style="height: calc(100% + 0.5rem)">
      <img [src]="annonce.photos[0]" class="w-full h-full object-fill" />
    </div>

    <div class="basis-1/3 h-full flex flex-col gap-2">
      <img [src]="annonce.photos[1]" class="w-full h-1/2 object-fill" />
      <img [src]="annonce.photos[2]" class="w-full h-1/2 object-fill" />
    </div>

    <div class="absolute bottom-4 right-4 flex gap-4">
      <button
        pButton
        label="Voir sur la carte"
        class="bg-primary secondary"
        style="border: none"
      ></button>
      <button
        pButton
        label="Voir toutes les photos"
        class="bg-primary secondary"
        style="border: none"
        (click)="showAllImages()"
      ></button>
    </div>

    <div class="flex gap-2 absolute left-0 -bottom-10 primary items-center">
      <icon [name]="GIcon.camera" />
      <span> {{ annonce.photos.length }} Photos </span>
    </div>
  </div>

  <div class="flex gap-10 mt-20 px-16 relative">
    <div class="basis-2/3 flex flex-col gap-10">
      <div class="flex flex-col gap-2">
        <p-divider />
        <div class="font-semibold text-3xl">Description</div>
        <span class="primary"> {{ annonce.descriptionDetaillee }} </span>
      </div>

      <div>
        <p-divider />
        <div class="mt-8 font-semibold text-3xl mb-4">Caractéristiques</div>
        <div class="flex gap-16 flex-wrap py-4">
          <div class="flex flex-col gap-4">
            <span class="font-semibold text-base">Intérieur</span>
            <div class="flex gap-4">
              <icon
                [name]="GIcon.meuble"
                [exist]="annonce.caracteristiquesSupplementaires.meuble"
              />
              {{ annonce.caracteristiquesSupplementaires.meuble ? '' : 'Non' }}
              Meublé
            </div>
            <div class="flex gap-4" *ngFor="let item of interieur">
              <icon [name]="item.icon" />
              <span> {{ item.value }} {{ item.name }} </span>
            </div>
          </div>

          <div class="flex flex-col gap-4" *ngIf="exterieur.length">
            <span class="font-semibold text-base">Extérieur</span>
            <div class="flex gap-4" *ngFor="let item of exterieur">
              <icon [name]="item.icon" />
              <span> {{ item.value }} {{ item.name }} </span>
            </div>
          </div>

          <div class="flex flex-col gap-4" *ngIf="annonce.acces.nbrTotalEtages">
            <span class="font-semibold text-base">Accès</span>
            <span>
              Nombre total d'étages dans l'immeuble :
              {{ annonce.acces.nbrTotalEtages }}
            </span>

            <span>
              Étage de l'appartement : {{ annonce.acces.numeroEtage }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Info annonceur -->
    <div
      class="basis-1/3 annonceur info-shadow px-4 py-8 flex flex-wrap gap-4 justify-between h-max primary"
    >
      <div class="flex flex-col gap-4">
        <div class="flex gap-2 items-center">
          <icon [name]="GIcon.person" />
          <span class="font-medium text-sm">
            {{ annonce.userName }}
          </span>
        </div>

        <div class="flex gap-2 items-center">
          <icon [name]="GIcon.mail" />
          <span class="font-medium text-sm">
            {{ annonce.adresseMail }}
          </span>
        </div>

        <span class="flex items-center gap-2">
          <icon [name]="GIcon.phone" />
          <span class="primary">
            {{ annonce.telephone }}
          </span>
        </span>
      </div>

      <img [src]="annonce.annonceur?.avatar" alt="image" class="w-24 h-24" />
    </div>
  </div>
</ng-container>

<!-- Full Screen Images -->

<p-galleria
  [value]="annonce?.photos"
  [(visible)]="showImages"
  [containerStyle]="{ 'max-width': '50%' }"
  [numVisible]="9"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item" style="width: 100%; display: block" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item" style="display: block" />
    </div>
  </ng-template>
</p-galleria>
