:host ::ng-deep {
  .sidebar {
    background-color: var(--accent-opacity-10);
    flex: 0 0 25%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: var(--primary);
    background: var(--primary);
  }

  .p-steps-item {
    padding-bottom: 30px;
    .p-menuitem-link {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 100%;
    }
  }

  .p-steps ul {
    display: block;
  }

  .p-steps .p-steps-item:before {
    content: none;
  }

  .p-steps .p-steps-item .p-menuitem-link {
    background: transparent;
  }

  .p-steps .p-steps-item.p-highlight .p-steps-title,
  .p-steps .p-steps-item .p-menuitem-link .p-steps-title,
  .p-steps-number {
    color: black;
    margin: 0;
  }
}
