<div class="flex min-h-screen">
  <form
    *ngIf="!mailSent"
    [formGroup]="forgotPasswordForm"
    class="flex flex-col justify-center items-center w-full gap-8 p-10"
  >
    <div class="flex flex-col items-center justify-center gap-2">
      <img src="assets/small-logo.png" alt="logo" class="h-9" />
      <span class="max-w-80 text-center font-semibold text-lg"
        >Remplissez le formulaire pour réinitialiser votre mot de passe
      </span>
    </div>

    <span class="w-full">
      <span class="p-float-label w-full">
        <input pInputText id="email" class="w-full" formControlName="email" />
        <label htmlFor="email">Adresse e-mail</label>
      </span>
      <control-error
        [control]="forgotPasswordForm.get('email')"
      ></control-error>
    </span>

    <button
      pButton
      pRipple
      label="Envoyer"
      class="bg-accent w-full font-thin"
      (click)="forgotPassword()"
      [loading]="isLoading"
    ></button>

    <div class="flex flex-col gap-2">
      <span
        >Déjà membre ?
        <a class="primary font-bold" routerLink="/login">
          Connectez-vous ici
        </a>
      </span>

      <span
        >Vous n'avez pas de compte ?
        <a class="primary font-bold" routerLink="/register">
          Inscrivez-vous ici
        </a>
      </span>
    </div>
  </form>

  <div
    *ngIf="mailSent"
    class="flex flex-col justify-center items-center w-full p-32"
  >
    <div class="flex flex-col gap-4">
      <span class="font-bold text-4xl accent">Email envoyé </span>
      <span class="primary">{{ message }} </span>
      <span class="font-semibold mt-10">
        Retour à la page de
        <a class="accent font-bold cursor-pointer" routerLink="/login">
          connexion</a
        >
      </span>
    </div>
  </div>

  <app-right-auth-panel class="max-h-screen w-full"></app-right-auth-panel>
</div>
