<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <a [routerLink]="'/home'">
      <img
        src="assets/small-logo.png"
        class="w-10 h-10 mr-20 ml-2 cursor-pointer"
      />
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex items-center justify-center">
      <a [routerLink]="'/create-annonce'">
        <p-button
          label="Créer une annonce"
          styleClass="p-button-link font-light accent"
          class="create-annonce-btn"
        ></p-button>
      </a>

      <p-avatar
        [image]="isAuthenticated ? user.avatar : ''"
        size="large"
        shape="circle"
        (click)="menu.toggle($event)"
        styleClass="cursor-pointer ml-2 avatar-icon"
        [icon]="!isAuthenticated ? PIcon.user : ''"
      ></p-avatar>
      <p-menu
        #menu
        [model]="profileMenu"
        [popup]="true"
        appendTo="body"
      ></p-menu>
    </div>
  </ng-template>
</p-menubar>
