<ng-container *ngIf="annonce">
  <!-- Annonce header -->

  <div
    class="flex flex-col gap-1 px-16 py-4 w-full shadow-md bg-secondary z-50"
  >
    <div class="flex gap-3 font-semibold text-lg items-center">
      <span>
        {{ annonce.typeBien }} pour
        {{ annonce.typeOffre.toLowerCase() }}
      </span>

      <span class="font-semibold">
        &#8226; {{ annonce.adresseBien.ville | titlecase }} ({{
          annonce.adresseBien.codePostal
        }})
      </span>

      <span class="flex gap-2 items-center">
        &#8226; {{ annonce.informationsFinanciers.montant }}
        <icon [name]="GIcon.euro" />
      </span>
    </div>

    <div class="flex gap-3 font-normal text-sm primary">
      <span> {{ annonce.superficiePieces.pieces }} pièces </span>
      <span> &#8226; {{ annonce.superficiePieces.chambres }} chambres </span>
      <span>
        &#8226; Surface de {{ annonce.superficieTotale }} m<sup>2</sup>
      </span>
    </div>
  </div>

  <!-- Annonce Images  -->

  <div class="flex gap-2 mx-16 relative" style="height: 600px">
    <div class="basis-2/3" style="height: calc(100% + 0.5rem)">
      <img [src]="annonce.photos[0]" class="w-full h-full object-fill" />
    </div>

    <div class="basis-1/3 h-full flex flex-col gap-2">
      <img [src]="annonce.photos[1]" class="w-full h-1/2 object-fill" />
      <img [src]="annonce.photos[2]" class="w-full h-1/2 object-fill" />
    </div>

    <div class="absolute bottom-4 right-4 flex gap-4">
      <button
        pButton
        label="Voir sur la carte"
        class="bg-primary secondary"
        style="border: none"
      ></button>
      <button
        pButton
        label="Voir toutes les photos"
        class="bg-primary secondary"
        style="border: none"
        (click)="showAllImages()"
      ></button>
    </div>

    <div class="flex gap-2 absolute left-0 -bottom-10 primary items-center">
      <icon [name]="GIcon.camera" />
      <span> {{ annonce.photos.length }} Photos </span>
    </div>
  </div>

  <!-- Annonce details  -->

  <div class="flex flex-col gap-10 mt-20 px-16">
    <div class="flex flex-col gap-2">
      <p-divider />
      <div class="font-semibold text-3xl">Description</div>
      <span class="primary"> {{ annonce.descriptionDetaillee }} </span>
    </div>

    <div>
      <p-divider />
      <div class="mt-8 font-semibold text-3xl mb-4">Caractéristiques</div>
      <div class="flex gap-16 flex-wrap py-4">
        <div class="flex flex-col gap-4">
          <span class="font-semibold text-base">Intérieur</span>
          <div class="flex gap-4">
            <icon
              [name]="GIcon.meuble"
              [exist]="annonce.caracteristiquesSupplementaires.meuble"
            />
            {{ annonce.caracteristiquesSupplementaires.meuble ? '' : 'Non' }}
            Meublé
          </div>
          <div class="flex gap-4" *ngFor="let item of interieur">
            <icon [name]="item.icon" />
            <span> {{ item.value }} {{ item.name }} </span>
          </div>
        </div>

        <div class="flex flex-col gap-4" *ngIf="exterieur.length">
          <span class="font-semibold text-base">Extérieur</span>
          <div class="flex gap-4" *ngFor="let item of exterieur">
            <icon [name]="item.icon" />
            <span> {{ item.value }} {{ item.name }} </span>
          </div>
        </div>

        <div class="flex flex-col gap-4" *ngIf="annonce.acces.nbrTotalEtages">
          <span class="font-semibold text-base">Accès</span>
          <span>
            Nombre total d'étages dans l'immeuble :
            {{ annonce.acces.nbrTotalEtages }}
          </span>

          <span>
            Étage de l'appartement : {{ annonce.acces.numeroEtage }}
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="annonce.dpe.state === DpeState.Known && !annonce.dpe.empty">
      <p-divider />
      <div class="mt-8 font-semibold text-3xl">
        Résultats du DPE
        <span *ngIf="annonce.dpe.dateRealisation" class="text-sm">
          {{ annonce.dpe.dateRealisation | date: 'mediumDate' : 'fr' }}
        </span>
      </div>
      <br />
      <div class="flex flex-col gap-5">
        <span class="font-medium">Consommations énergétiques :</span>
        <bilan [value]="annonce.dpe.consommationEnergetique"></bilan>
      </div>
      <br /><br />

      <div class="flex flex-col gap-5">
        <span class="font-medium">Emissions de gaz :</span>
        <bilan [value]="annonce.dpe.emissionsGaz" [isDEP]="false"></bilan>
      </div>
    </div>

    <p-divider />

    <div class="flex flex-col gap-2" style="max-width: 600px">
      <span class="font-semibold text-3xl mb-4">À propos du prix</span>
      <div class="font-semibold text-xl flex justify-between">
        Détails du prix
        <span> {{ annonce.informationsFinanciers.mention }} </span>
      </div>

      <div class="flex justify-between">
        <span>Prix</span>
        <span> {{ annonce.informationsFinanciers.montant }} &#8364; </span>
      </div>

      <div class="flex justify-between">
        <span>Charges de copropriété</span>
        <span>
          {{ annonce.informationsFinanciers.chargesCopropriete }} &#8364;
        </span>
      </div>

      <div
        class="flex justify-between"
        *ngIf="annonce.typeOffre === Offer.Vente"
      >
        <span>Taxe foncière</span>
        <span> {{ annonce.informationsFinanciers.taxeFonciere }} &#8364; </span>
      </div>

      <div
        class="flex justify-between"
        *ngIf="annonce.typeOffre === Offer.Location"
      >
        <span>Montant du dépôt de garantie</span>
        <span>
          {{ annonce.informationsFinanciers.depotDeGarantie }} &#8364;
        </span>
      </div>

      <ng-container *ngIf="annonce.annonceur?.role === Role.Agence">
        <div class="font-semibold text-xl mt-4">Honoraire de l'agence</div>

        <div class="flex justify-between">
          <span>Charges de copropriété</span>
          <span> {{ annonce.honorairesAgence.montant }} &#8364;</span>
        </div>

        <div class="flex justify-between">
          <span>Acquéreur</span>
          <span> {{ annonce.honorairesAgence.Acquereur }}% </span>
        </div>

        <div class="flex justify-between">
          <span>Vendeur</span>
          <span> {{ annonce.honorairesAgence.Vendeur }}% </span>
        </div>

        <div
          class="flex justify-between"
          *ngIf="annonce.typeOffre === Offer.Location"
        >
          <span>Frais état lieu</span>
          <span> {{ annonce.honorairesAgence.fraisEtatLieu }} &#8364; </span>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Info annonceur -->
  <div
    class="w-full flex gap-8 items-center py-4 px-6 mt-20 bg-primary secondary font-medium text-sm sticky bottom-0"
  >
    <img [src]="annonce.annonceur?.avatar" alt="image" class="w-16 h-16" />

    <div class="flex flex-col gap-4">
      <div class="flex gap-2 items-center">
        <icon [name]="GIcon.person" />
        {{ annonce.userName }}
      </div>

      <span class="flex gap-2 items-center">
        <icon [name]="GIcon.phone" />
        {{ annonce.telephone }}
      </span>
    </div>

    <a [href]="'mailto:' + annonce.adresseMail" class="ml-auto">
      <button
        pButton
        pRipple
        type="button"
        class="bg-accent border-none"
        label="Contacter"
        [icon]="PIcon.mail"
        style="border: none"
      ></button>
    </a>
  </div>
</ng-container>

<!-- Full Screen Images -->

<p-galleria
  [value]="annonce?.photos"
  [(visible)]="showImages"
  [containerStyle]="{ 'max-width': '50%' }"
  [numVisible]="9"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item" style="width: 100%; display: block" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item" style="display: block" />
    </div>
  </ng-template>
</p-galleria>
