:host {
  p-inputnumber,
  ::ng-deep .p-inputnumber,
  ::ng-deep .p-password {
    display: block;
    input {
      width: 100%;
    }
  }

  form > * {
    width: 100%;
    input {
      width: 100%;
    }
  }

  ::ng-deep .p-dropdown {
    width: 100%;
  }

  ::ng-deep .p-selectbutton .p-button.p-highlight {
    background: var(--accent);
    border-color: var(--accent);
    color: var(--secondary);
  }
}
