<ng-container [formGroup]="priceForm">
  <div class="flex flex-col gap-4">
    <div class="flex-col flex gap-2">
      <p-inputNumber
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="montant"
        spinnerMode="horizontal"
        [step]="10"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary"
        [incrementButtonIcon]="PIcon.plus"
        [decrementButtonIcon]="PIcon.minus"
        mode="currency"
        currency="EUR"
        [min]="10"
        formControlName="montant"
        [useGrouping]="false"
      ></p-inputNumber>
      <control-error [control]="priceForm.get('montant')" />
    </div>

    <div class="flex-col flex gap-2">
      <span class="font-semibold text-sm">TVA *</span>
      <p-inputNumber
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="tva"
        spinnerMode="horizontal"
        [step]="0.1"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary"
        [incrementButtonIcon]="PIcon.plus"
        [decrementButtonIcon]="PIcon.minus"
        [min]="0"
        [max]="100"
        prefix="%"
        formControlName="tva"
      ></p-inputNumber>
      <control-error [control]="priceForm.get('tva')" />
    </div>
  </div>
</ng-container>
