:host {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
  }
  ::ng-deep {
    .tag {
      padding: 8px 20px;
      border-radius: 25px;
      font-weight: 600;
      font-size: 16px;
      cursor: default;
      font-weight: 500;
      background-color: rgba(76, 158, 108, 0.1);
      color: var(--accent);
    }
  }
}
