<div class="flex min-h-screen">
  <form
    [formGroup]="loginForm"
    class="flex flex-col justify-center items-center w-full gap-8 p-10"
  >
    <div class="flex flex-col items-center justify-center gap-2">
      <img src="assets/small-logo.png" alt="logo" class="h-9" />
      <span class="max-w-80 text-center font-semibold text-lg"
        >Connectez-vous à votre compte
      </span>
    </div>

    <span class="w-full">
      <span class="p-float-label">
        <input
          pInputText
          id="email"
          type="email"
          class="w-full"
          formControlName="email"
        />
        <label htmlFor="email">Adresse e-mail</label>
      </span>

      <control-error [control]="loginForm.get('email')" />
    </span>

    <span class="w-full">
      <span class="p-float-label">
        <p-password
          inputId="password"
          class="w-full"
          [toggleMask]="true"
          [feedback]="false"
          formControlName="password"
        ></p-password>
        <label htmlFor="password">Mot de passe</label>
      </span>
      <control-error [control]="loginForm.get('password')" />
    </span>

    <button
      type="submit"
      pButton
      pRipple
      label="Connexion"
      class="bg-accent w-full font-thin"
      [loading]="isLoading"
      (click)="submit()"
    ></button>

    <div class="flex flex-col gap-2">
      <span
        >Vous n'avez pas de compte ?
        <a class="primary font-bold" routerLink="/register">
          Inscrivez-vous ici
        </a>
      </span>
      <span>
        Vous avez oublier votre mot de passe ?
        <a
          class="primary font-bold cursor-pointer"
          routerLink="/forgot-password"
        >
          Récuperez le ici</a
        >
      </span>

      <span>
        Retour à la page
        <a class="primary font-bold cursor-pointer" routerLink="/home">
          d'accueil</a
        >
      </span>
    </div>
  </form>
  <app-right-auth-panel class="max-h-screen w-full"></app-right-auth-panel>
</div>
