<div
  class="w-full flex flex-wrap gap-20 items-start justify-between secondary py-20 px-32 footer-background"
>
  <div class="flex flex-col gap-2">
    <span class="font-semibold text-xl">Nous contacter</span>
    <span class="flex items-center gap-2">
      <icon [name]="GIcon.phone" />
      <a href="tel:+33780771644"> Téléphone : + 33 7 80 77 16 44</a>
    </span>
    <span class="flex items-center gap-2">
      <i [class]="PIcon.whatsapp" style="font-size: 1.2rem"></i>
      <a href="tel:+33780771644"> whatsapp &nbsp;: + 33 7 80 77 16 44</a>
    </span>
  </div>

  <div class="flex flex-col gap-2">
    <span class="font-semibold text-xl">Liens</span>
    <span class="cursor-pointer">Acceuil</span>
    <span class="cursor-pointer">Annonces</span>
    <span class="cursor-pointer">Agences</span>
    <span class="cursor-pointer">Contact</span>
  </div>
</div>
