:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  ::ng-deep {
    .p-breadcrumb {
      border-radius: 0;
      border: none;
      background-color: #E9ECEF;
      box-shadow: 0 2px 4px -1px var(--accent);
      .p-menuitem-text {
        color: var(--primary);
      }
    }
  }

  .footer {
    margin-top: auto;
  }
}
