:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  ::ng-deep {
    .p-breadcrumb {
      border-radius: 0;
      border-width: 0.1px 0px 0px 0px;
      box-shadow: 0 2px 4px -1px var(--accent);
    }
  }

  .footer {
    margin-top: auto;
  }
}
