<ng-container [formGroup]="form">
  <div class="flex flex-col gap-2 radio">
    <div class="flex align-items-center">
      <p-radioButton
        name="state"
        [value]="1"
        formControlName="state"
        inputId="true"
      ></p-radioButton>
      <label for="true" class="ml-2 cursor-pointer"
        >Oui, je connais mes résultats</label
      >
    </div>

    <div class="flex align-items-center">
      <p-radioButton
        name="state"
        [value]="0"
        formControlName="state"
        inputId="null"
      ></p-radioButton>
      <label for="null" class="ml-2 cursor-pointer">
        Non, je les renseignerai plus tard
      </label>
    </div>

    <div class="flex align-items-center">
      <p-radioButton
        name="state"
        [value]="2"
        formControlName="state"
        inputId="false"
      ></p-radioButton>
      <label for="false" class="ml-2 cursor-pointer">
        Mon bien n'est pas soumis au DPE
      </label>
    </div>

    <control-error [control]="form.get('state')" />
  </div>

  <p-messages [severity]="messages[state].severity" *ngIf="state !== undefined">
    <ng-template pTemplate>
      <i [class]="messages[state].icon" style="font-size: 1.5rem"></i>
      <div class="ml-2 font-semibold">
        {{ messages[state].summary }}
      </div>
      <p class="message-details">
        {{ messages[state].detail }}
      </p>

      <a
        href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006896276"
        target="_blank"
      >
        <button
          *ngIf="state === 2"
          pButton
          label="En savoir plus"
          class="p-button-rounded p-button-secondary primary p-button-small"
          style="background-color: transparent"
        ></button>
      </a>
    </ng-template>
  </p-messages>

  <ng-container> </ng-container>

  <div
    class="flex flex-col gap-4"
    *ngIf="state !== undefined && state !== 2"
    [ngClass]="
      state === 0
        ? 'disabled-except-one'
        : form.get('empty')?.value
          ? 'disabled-except-two'
          : ''
    "
  >
    <div class="text-lg font-bold my-8">Résultats du DPE</div>

    <div class="flex gap-2 mb-2">
      <p-checkbox
        [binary]="true"
        inputId="dpe"
        formControlName="empty"
        (onChange)="resetInitialFormValue()"
      ></p-checkbox>
      <label for="dpe" class="cursor-pointer">
        DPE vierge : mon DPE n’indique aucun classement énergétique.</label
      >
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-semibold"
        >Consommations énergétiques
        <span class="font-light"> (facultatif) </span>
      </label>

      <span class="p-input-icon-right">
        <i style="top: 41% !important"> kWhEP/m<sup>2</sup>/an </i>

        <p-inputNumber
          class="w-full"
          formControlName="consommationEnergetique"
          [min]="0"
          [style]="{ width: '100%' }"
          [useGrouping]="false"
        >
        </p-inputNumber>
      </span>
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-semibold"
        >Emissions de gaz à effet de serre
        <span class="font-light"> (facultatif) </span>
      </label>

      <span class="p-input-icon-right">
        <i style="top: 41% !important"> kgCO<sub>2</sub>/m<sup>2</sup>/an </i>
        <p-inputNumber
          class="w-full"
          formControlName="emissionsGaz"
          [min]="0"
          [style]="{ width: '100%' }"
          [useGrouping]="false"
        >
        </p-inputNumber>
      </span>
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-semibold"
        >Date de réalisation du DPE
        <span class="font-light"> (facultatif) </span>
      </label>

      <p-calendar
        [showButtonBar]="true"
        styleClass="w-full"
        formControlName="dateRealisation"
        dateFormat="dd/mm/yy"
      ></p-calendar>
    </div>
  </div>
</ng-container>
