<p-card [style]="{ width: '100%', cursor: 'pointer' }">
  <ng-template pTemplate="header">
    <img alt="Card" class="rounded-t-md" [src]="annonce.principlePhoto" />

    <div class="flex flex-col gap-4 p-3">
      <span class="accent text-base font-semibold"> {{ annonce.titre }} </span>

      <div class="flex items-center gap-2 font-medium text-sm">
        <i class="pi pi-map-marker" style="font-size: 1.2rem"></i>
        <span>{{
          annonce.adresseBien.ville +
            ' - ' +
            annonce.adresseBien.codePostal +
            ' - ' +
            annonce.adresseBien.adresse
        }}</span>
      </div>
    </div>
  </ng-template>

  <div class="flex flex-col gap-3 text-xs">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined accent"> crop_square </span>
        <span> {{ annonce.superficieTotale }} </span>
        <span class=""> m<sup>2</sup> </span>
      </div>
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined accent"> bed </span>
        <span> {{ annonce.superficiePieces.chambres }} Chambres </span>
      </div>
    </div>
    <div class="flex items-center gap-2">
      <span class="material-symbols-outlined accent"> shower </span>

      <span> {{ annonce.superficiePieces.sallesDeBain }} Salles de bain </span>
    </div>

    <p-divider></p-divider>

    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined"> person </span>
        <span>{{ 'Maher fadhlaoui' | titlecase }}</span>
      </div>

      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined"> calendar_month </span>
        <span>{{ annonce.createdAt | date: 'mediumDate' : 'fr' }}</span>
      </div>
    </div>

    <div
      class="flex items-center justify-center gap-2 cursor-pointer mt-2 font-semibold"
    >
      <span class="material-symbols-outlined accent"> pin_drop </span>
      <span class="">Sur la carte</span>
    </div>
  </div>
</p-card>
