// tailwindcss
@import 'tailwindcss/base' layer(tailwindcss);
@import 'tailwindcss/components' layer(tailwindcss);
@import 'tailwindcss/utilities' layer(tailwindcss);

// primeng
@import 'assets/styles/theme.css';
@import 'primeng/resources/primeng.css';

// Icons
@import 'primeicons/primeicons.css';
.material-symbols-outlined {
  font-variation-settings: 'wght' 300;
}

// Flags
@import 'assets/styles/flag.css';

// Brand colors
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.accent {
  color: var(--accent);
}

:root {
  --primary: #2e3531;
  --secondary: #ffffff;
  --accent: #4c9e6c;
}

// Brand Background colors
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}
