// tailwindcss

@import 'tailwindcss/base' layer(tailwindcss);
@import 'tailwindcss/components' layer(tailwindcss);
@import 'tailwindcss/utilities' layer(tailwindcss);

// primeng
@import 'assets/styles/theme.css';
@import 'primeng/resources/primeng.css';

// Icons
@import 'primeicons/primeicons.css';

// Flags
@import 'assets/styles/flag.css';

// Brand colors

.primary {
  color: #2e3531;
}

.secondary {
  color: #ffffff;
}

.accent {
  color: #4c9e6c;
}

// Brand Background colors

.bg-primary {
  background-color: #2e3531;
}

.bg-secondary {
  background-color: #ffffff;
}

.bg-accent {
  background-color: #4c9e6c;
}
